/* Reset some default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the nav bar */
nav {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Style the social media icons */
.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.social-icons a:hover {
  color: #ddd;
}

/* Style the logo */
.logo img {
  width: 100px; /* Adjust logo size */
}

/* Style the title */
nav h1 {
  color: white;
  font-size: 24px;
  margin-left: 20px;
}

/* Style the nav links */
ul {
  list-style: none;
  display: flex;
  align-items: center;
}

ul li {
  margin-left: 20px;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

ul li input {
  padding: 5px;
}

ul li button {
  padding: 6px 12px;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
}

ul li button:hover {
  background-color: #777;
}

ul li a:hover {
  text-decoration: underline;
}


body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: flex-start; /* Aligns content horizontally to the left */
    align-items: center;
}


.content {
    flex-grow: 12; /* Take up the remaining space */
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: center; /* Center content vertically */
    padding-left: 50px
}

.container {
    display: flex;
    flex-direction: column;
}


p.firstpara {
    font-size: 24px; /* Larger font size */
}

p.secondpara {
    font-size: 16px; /* Smaller font size */
